/* ================================================= */
/* ----------------- Estilo General ---------------- */
/* ================================================= */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #666;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #ffffff;
}

a {
    color: #222222;
    transition: 0.5s;
}

a:hover {
    color: #FFD700;
    outline: none;
    text-decoration: none;
}

p {
    color: #666;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 15px 0;
}

h1 {
    margin: 0;
    padding: 0;
    color: #666;
    font-weight: 700;
}

/* ================================================= */
/* --------------- Mejora Restaurante -------------- */
/* ================================================= */

.wrap{
    width: 800px;
    max-width: 90%;
    margin: 90px auto;
}

ul.tabs{
    width: 100%;
    background: #363636;
    list-style: none;
    display: flex;
}

ul.tabs li{
    width: 18%;
}

ul.tabs li a{
    color: #ffd700;
    text-decoration: none;
    font-size: 16px;
    text-align: center;

    display: block;
    padding: 20px 0px;
}

ul.tabs li a:hover{
    color: #ffffff;
}

.active{
    background: none;
}

ul.tabs li a .tab-text{
    margin-left: 9px;
}

.secciones{
    width: 100%;
    background: #ffffff;
}

.secciones article{
    padding: 30px;
}

.secciones article p{
    text-align: justify;
}

@media screen and (max-width: 700px) {
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    } 
}

@media screen and (max-width: 450px){
    ul.tabs li a{
        padding: 15px 0px;
    }

    ul.tabs li a .tab-text{
        display: none;
    }

    .secciones article{
        padding: 20px;
    }
}

#reservar {
    display: inline-block;
    background: #222;
    font-weight: 400;
    color: #FFD700;
    padding: 10px 30px;
    width: 100%;
}

img {
    width: 100%;
}